* {
  margin: 0;
}

.App {
  margin-bottom: 30px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
  height: 75px;
  align-items: center;
}

.navDiv {
  position: relative;
  margin-bottom: 5px;
}

.itemsIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.itemsDiv {
  background-color: white;
  border-radius: 50%;
  color: black;
  width: 20px;
  text-align: center;
}

.cart {
  text-align: center;
}

.cartCleanButton {
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: blue;
  color: white;
}

.cartItem {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}

.cartInfo {
  text-align: right;
}

.cartQuantityButton {
  border: none;
  background-color: white;
  margin-top: 10px;
}

.cartDeleteButton {
  padding: 10px;
  border: none;
  border-radius: 30px;
  background-color: red;
  color: white;
  margin-top: 10px;
}
