* {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  color: white;
  height: 75px;
  align-items: center;
}

.navDiv {
  position: relative;
  margin-bottom: 5px;
}

.itemsIcon {
  position: absolute;
  top: 15px;
  right: 15px;
}

.itemsDiv {
  background-color: white;
  border-radius: 50%;
  color: black;
  width: 20px;
  text-align: center;
}
